.container {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 10rem;
}

.userdiv {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: space-between;
}

.usercalendar {
  padding-top: 5rem;
}

.userupcoming {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 2rem;
  gap: 20px;
}

.userpastevents {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

.subcontainer {
    display: flex;
    /* flex-direction: column; */
}

.cardimage {
  overflow: hidden;
  width: 250px;
  height: 150px;
  transition: transform 0.5s ease;
}
.cardimage:hover {
  transform: scale(1.1);
}
.eventtitle {
  /* cursor: pointer; */
}
.eventlink {
  text-decoration: none;
  color: black;
}
.cardcontent {
  overflow: hidden;
  max-width: 15rem;
}
.react-calendar {
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.react-calendar__navigation button {
  min-width: 44px;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8f8fa;
  border-radius: 6px;
}
.cal .react-calendar__tile--now {
  background: #e5e5e5;
  border-radius: 6px;
  font-weight: bold;
  color: #14213d;
}
.cal .react-calendar__tile--now:enabled:hover,
.cal .react-calendar__tile--now:enabled:focus {
  background: #e5e5e5;
  border-radius: 6px;
  font-weight: bold;
  color: #14213d;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
.react-calendar__tile--active {
  background: #14213d;
  border-radius: 6px;
  font-weight: bold;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #14213d;
  color: white;
}
.cal .react-calendar__month-view__days__day--weekend {
  color: #000;
}
/* .page{
    margin: 7.0rem;
    display: flex;
    flex-direction: column;
}

.pic{
    padding: 30px 100px;
    background-color: #E5E5E5;
    border-radius: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.pic p{
    font-size: 50px;;
}

header{
    width: 1000px;
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 3.0rem;
}

.content{
    display: flex;
    justify-content: space-around;
}


abbr[title] {
    text-decoration: none;
   }
.react-calendar__navigation button {
    min-width: 44px;
    font-size: 16px;
    margin-top: 8px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #f8f8fa;
 border-radius: 6px;
}
.cal .react-calendar__tile--now {
    background: #E5E5E5;
    border-radius: 6px;
    font-weight: bold;
    color: #14213D;
}
.cal .react-calendar__tile--now:enabled:hover,
.cal .react-calendar__tile--now:enabled:focus {
 background: #E5E5E5;
 border-radius: 6px;
 font-weight: bold;
 color: #14213D;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #f8f8fa;
}
.react-calendar__tile--active {
 background: #14213D;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: #14213D;
 color: white;
}
.cal .react-calendar__month-view__days__day--weekend {
    color: #000;
}




.cal-body{
    width: 40%;
    border-right: 1px solid black;
    padding-right: 1.0rem;
}
.hist-body{
    width: 60%;
    padding: 0 5.0rem;
}

article h2{
    text-align: center;
    
}
.cal{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
