.eventcard {
    /* display: flex;
    flex-direction: column; */
    margin-top: 3rem;
    margin-left: 4rem;
    max-width: 250px;
    min-height: 380px;
    max-height: 380px;
    overflow: hidden;
    transition: 0.35;
    animation: ease-in;
}

.eventcard:hover {
    /* transform: scale(0.9); */
    box-shadow: 0px 0px 8px 0px;
}
.cardimage{
    overflow: hidden;
    width: 250px;
    height: 150px;
    transition: transform 0.5s ease;
}
.cardimage:hover {
    transform: scale(1.1);
}
.eventtitle {
    /* cursor: pointer; */
}
.eventlink {
    text-decoration: none;
    color: black;
}
.cardcontent {
    overflow: hidden;
    max-width: 15rem;
    /* display: flex; */
    /* flex-wrap: wrap; */
}