.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 7rem;
}

.leftDiv {
  margin-top: 3rem;
  padding-left: 30px;
  /* min-width: 20%;
  max-width: 50%; */
  border: 1px solid gray;
  max-height: 300px;
}
.rightDiv {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid rgb(149, 147, 147);
}

.heading {
    font-style: oblique;
    font-size: larger;
    font-weight: bold;
}

.categorydiv {
  display: flex;
  flex-direction: column;
  padding-right: 4px;
}

.control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  flex: 1;
  color: #464646;
  margin-bottom: 0.5rem;
}
