.fullpage {
  display: flex;
  background: rgb(234, 232, 232);
}
.container {
  width: fit-content;
  max-width: 40rem;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
}
.imagediv {
  width: 626px;
  height: 250px;
}
.cardimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  
}
.cardimage:hover {
  transform: scale(1.1);
}

.cardcontent {
  padding: 1rem;
}

.eventdetails {
  display: flex;
  flex-direction: column;
  border-top: 0.5px solid rgb(149, 147, 147);
}

.eventtitle {
  font-weight: bold;
  margin-bottom: 3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eventdate {
  padding-top: 20px;
  /* padding-left: 10px; */
}
.eventlocation {
  position: relative;
  display: flex;
  float: right;
  padding-right: 3.5rem;
}
.eventregister {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  float: right;
  /* flex-direction: column; */
}
.eventtype {
 display: flex;
 flex-direction: row;
 gap: 50px;
}

.eventregister button {
  width: 250px;
  height: 50px;
  background-color: #189c56;
  font-weight: bold;
  text-align: center;
  color: white;
  border: black;
  border-radius: 6px;
}
.countbutton {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
}
.countplus {
  display: flex;
  float: left;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}
.eventseats {
  position: relative;
  display: flex;
  float: left;
}
