.land-container {
    /* flex-direction: row; */
    /* position: relative; */
    
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .land-split {
    /* position: relative; */
    min-height: 100vh;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .land-split.left{
    left:0;
    background: url('./Promote-Your-local-event.jpg');
    display: flex;
  }
  .land-split.right{
/*     
  /* width: 100%; 
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
    align-items: center; */
    /* margin-top: 3rem; */
    right:0;
    background-color: azure;
    text-align: center;
  }
  